{% extends 'base.html' %}
{% block content %}
<div class="card text-bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Password Reset Sent</div>
    <div class="card-body">
        <h5 class="card-title">We’ve emailed you instructions for resetting your password.</h5>
        <p class="card-text">If you don’t receive the email, please check your spam folder or
            <a class="btn btn_info" href="{% url 'password_reset' %}">try again.</a>
        </p>
    </div>
</div>
{% endblock %}