<nav class="navbar">
    <ul>
        <li><a target="_blank" href="/" data-text="Home">Home</a></li>
        <li><a target="_blank" href="/" data-text="Blogs">Blogs</a></li>
        <li><a target="_blank" href="/" data-text="Coding">Coding</a></li>
        <li><a target="_blank" href="/" data-text="Skills">Skills</a></li>
        <li><a target="_blank" href="/explore/turkish_learning/" data-text="Extras">Extras</a></li>
        <li><a target="_blank" href="/" data-text="About">About</a></li>
    </ul>
</nav>
    
    {#    <ul class="">#}
    {#        <li class="nav-item">#}
    {#            <a class="nav-link" href="/">Home</a>#}
    {#        </li>#}
    {#        <li class="nav-item">#}
    {#            <a class="nav-link" href="/features/">Features</a>#}
    {#        </li>#}
    {#        <li class="nav-item">#}
    {#            <a class="nav-link" href="/pricing/">Pricing</a>#}
    {#        </li>#}
    {##}
    {#        <!-- Explore Dropdown -->#}
    {#        <li class="nav-item dropdown">#}
    {#            <a class="nav-link dropdown-toggle" href="#" id="exploreDropdown" role="button"#}
    {#               data-bs-toggle="dropdown" aria-expanded="false">#}
    {#                Explore#}
    {#            </a>#}
    {#            <ul class="dropdown-menu" aria-labelledby="exploreDropdown">#}
    {#                <li><a class="dropdown-item" href="/explore/turkish_learning/">Turkish Learning</a></li>#}
    {#                <li><a class="dropdown-item" href="/explore/cryptocurrency/">Cryptocurrency Tools</a></li>#}
    {#                <li><a class="dropdown-item" href="/explore/other-features/">Other Features</a></li>#}
    {#            </ul>#}
    {#        </li>#}
    {#    </ul>#}

    {#    <ul class="navbar-nav">#}
    {#        {% if user.is_authenticated %}#}
    {#            <li class="nav-item">#}
    {#                <a class="nav-link" href="/logout/">Logout</a>#}
    {#            </li>#}
    {#        {% else %}#}
    {#            <li class="nav-item">#}
    {#                <a class="nav-link" href="/login/">Login</a>#}
    {#            </li>#}
    {#            <li class="nav-item">#}
    {#                <a class="nav-link" href="/register/">Register</a>#}
    {#            </li>#}
    {#        {% endif %}#}
    {#    </ul>#}