<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">My Insta</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Hello {{ user }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'add_post' %}">Add Post</a></li>
                        <li><a class="dropdown-item" href="{% url 'add_story' %}">Add Story</a></li>
                        <li><a class="dropdown-item" href="{% url 'direct_messages' %}">Direct</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a href="{% url 'profile' %}" class="dropdown-item">Profile</a></li>
                        <li><a href="{% url 'user_content' user.id %}" class="dropdown-item">Contents</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if user.is_authenticated %}

                <li><a href="{% url 'logout' %}" class="btn btn-warning mx-2">Logout</a></li>
                <li><a href="{% url 'drf' %}" class="btn btn-outline-success">DRF</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}" class="btn btn-warning mx-2">Signup</a></li>
                <li><a href="{% url 'login' %}" class="btn btn-outline-success">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
