{% extends 'base.html' %}

{% block title %}
Story Detail
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9 bg-light p-3 d-flex align-items-center justify-content-center"
             style="height: 85vh; overflow-y: auto;">
            {% if content %}
            <div class="container">
                <div class="card" style="height: 70vh">
                    <div class="card-body">
                        <h5 class="card-title">{{ content.user }}</h5>
                        <div id="PostCarousel{{ content.id }}" class="carousel slide my-4">
                            <div class="carousel-inner">
                                {% for media in medias %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ media.media_file.url }}" class="d-block w-100" alt="...">
                                </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#PostCarousel{{ content.id }}"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#PostCarousel{{ content.id }}"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="row my-3">
                            <div class="col-2 position-relative">
                                <form action="{% url 'like_story' content.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-heart" viewBox="0 0 16 16">
                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                        </svg>
                                    </button>
                                </form>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{ content.like_count }}
                                <span class="visually-hidden">like counts</span>
                            </span>
                            </div>
                            <div class="col-2 position-relative mx-3">
                                <button type="submit" class="btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor"
                                         class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                    </svg>
                                </button>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{ content.comment_count }}
                                <span class="visually-hidden">comment counts</span>
                            </span>
                            </div>
                        </div>
                        <p class="card-text">
                            {{ content.log_count }} views
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4" style="height: 70vh; overflow-y: auto;">
                <div class="card">
                    <div class="card-header">
                        Comments
                    </div>
                    <ul class="list-group list-group-flush">
                        {% if comments %}
                        {% for comment in comments %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">
                                    <blockquote class="blockquote mb-0">
                                        <p>{{ comment.comment }}</p>
                                        <footer class="blockquote-footer">{{ comment.user }}</footer>
                                    </blockquote>
                                </div>
                                <div class="col">
                                    <form action="{% url 'like_comment' comment.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-heart" viewBox="0 0 16 16">
                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                            </svg>
                                        </button>
                                    </form>
                                    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger">
                                {{ comment.get_like_count }}
                                <span class="visually-hidden">like counts</span>
                            </span>

                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        {% else %}
                        <li class="list-group-item">
                            <p>No Comments!</p>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% else %}
            <h2>{{ message }}</h2>
            {% endif %}
        </div>
        <div class="col-md bg-warning-subtle p-3 d-flex flex-column" style="height: 85vh; overflow: auto;">
            <div class="card mt-2">
                <div class="card-header">Add Comment</div>
                <div class="card-body">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <ul>
                                {% for field_name, field_errors in form.errors.items %}
                                {% for error in field_errors %}
                                <li>{{ field_name }}: {{ error }}</li>
                                {% endfor %}
                                {% endfor %}
                            </ul>
                            <button type="button" class="btn-close"
                                    data-bs-dismiss="alert" aria-label="Close">
                            </button>
                        </div>
                        {% endif %}
                        <div class="form-floating">
                            <div class="form-floating mb-3">
                                <input type="hidden" class="form-control" id="user" name="user"
                                       placeholder="user" value="{{ request.user.id }}">
                            </div>
                            <div class="form-floating mb-3">
                                <textarea type="test" class="form-control" id="comment" name="comment"
                                          placeholder="Comment" style="height: 200px"></textarea>
                                <label for="comment">Comment</label>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Put it</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
